.plans-container{
    margin-top: -4rem;
    display: flex;
    flex-direction: column;

}
.plans-header{
    text-align: center;
    font-size: 2.5rem;
   font-style: italic;
   justify-content: space-around;
   font-weight: bold;
   color:white;

}


.plans{
   margin-top:2rem;
    display: flex;
    justify-content: center;
    gap:3rem;
    align-items: center;
}

.plans-blur-1{
    width: 22rem;
    height: 30rem;
    left:0;
}
.plans-blur-2{
    width: 22rem;
    height: 30rem;
    right:0;
}