.join{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.left-j{
 font-size: 2.5rem;
 color:white;
 font-weight: bold;
 padding:20px;
 gap:0.5rem;

}


.right-j .email-container{
    display: flex;
     position: relative;
}

.right-j input{
    width: 20rem;
    height: 3.5rem;
    background-color:var(--caloryCard);
    border:none;
    outline: none;
    color:white;
        
}

.right-j input::placeholder{
    color:white;
    padding-left: 20px;
}

.right-j button{
    width: 5rem;
    height: 2rem;
    background-color:var(--orange);
    color:white;
    border:none;
    position:absolute;
   right:1rem; top:0.80rem;
   font-size: 0.8rem;
}